.hidden {
    display: none;
}
.bubble_container {
    width: 100vw;
    height: 100vh;
}
.bubble {
    /* display:inline-block; */
    position: absolute;
    /* background-color: aquamarine; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all .1s linear;
}