:root {
    /* --theme: url(../images/default_bgi.png); */
    /* --bubble: url(../images/bubble.png)  */
}
/* @font-face {
    font-family:'Montserrat';
    src: url(../fonts/Montserrat-SemiboldItalic.ttf);
} */
@font-face {
    font-family:'Krabulator';
    src: url(../fonts/RF-Krabuler-Regular.otf)
}
@font-face {
    font-family: 'Vulf Mono Code';
    src: url(../fonts/VulfMonoCode-Regular.otf);
}
body {
    overflow: hidden;
    font-size: 30px;
    color: white;
}
h2 {
    font-size: 2em;
}
button {
    font-size: .5em;
    color: white;
}
.container {
    /* background-image: var(--theme); */
    background-image: url(../images/default_bgi.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.title {
    font-family: 'Krabulator';
    text-align: center;
    transition: all 1s ease;

}
h2.title {
    position: relative;
    bottom: -10px;
}
h3.title {
    position: relative;
    bottom: 40px;
}
.splash_button {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.splash_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.splash_page button {
    position: relative;
    /* border: 1px solid black; */
    width: 150px;
    height: 50px;
    margin: 20px;
    bottom: 60px;
    border-radius: 20px;
    background-image: linear-gradient(#38A0B6, #0077C3);
    transition: all .4s linear;
}
.button_collection {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.blur {
    opacity: 0.5;
    -webkit-filter: blur(.5px);
    filter: blur(.5px);
}
.hidden {
    display: none;
}
.return_button {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 1.25em;
    border-radius: 50%;
    background-image: linear-gradient(#38A0B6, #0077C3);

    z-index: 3;
    left: 15px;
    top: 15px;
    /* padding: 15px; */
    transition: all 0.5s ease;
}
.score {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-style: italic;
    position: absolute;
    right: 0;
    font-size: 1em;
    padding: 25px 15px;
    transition: all 0.5s ease;
}
.bubble_container {
    width: 100vw;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all .1s linear;
}
.bubble_child {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 auto;
    /* background-image: var(--bubble); */
    background-image: url(../images/bubble.png);
    background-size: 52px;
    background-position-x: center;
    background-position-y: center;
    transition: all .1s linear;
}
.grow {
    width: 150px;
    height: 150px;
    
  }
.keyline {
    width: 1.5px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    opacity: 30%;
    transition: all .5s linear
  }
  .keyline:nth-child(2) {
  /*   top */
    top: -20px;
    left: 50%;
  }
  .keyline:nth-child(3) {
    top: -10px;
    left: 100%;
    transform: rotate(45deg);
  }
  .keyline:nth-child(4) {
    bottom: -10px;
    left: 100%;
    transform: rotate(-45deg)
  }
  .keyline:nth-child(5) {
    top: 35%;
    left: -15px;
    transform: rotate(90deg)
  }
  
  .keyline:nth-child(6) {
    bottom: -15px;
    left: 50%;
  }
  .keyline:nth-child(7) {
    top: 35%;
    left: 130%;
    transform: rotate(90deg)
  }
  .keyline:nth-child(8) {
    top: -10px;
    left: -2px;
    transform: rotate(-45deg)
  }
  .keyline:nth-child(9) {
  /*   top: -15px; */
    top: 90%;
    left: 0%;
  /*   left: -10%; */
    transform: rotate(35deg)
  }
  .slow {
    transition: all 1s linear;
  }
  .fade {
      opacity: 0%;
  }
  .breathe_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 70%;
    z-index: 1;
  }
  .breathe {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin: 0 auto;
  /*   border: 1px solid black; */
    border-radius: 50%;
    transition: all 4.5s ease-in-out;
    background-image: linear-gradient(#38A0B6, #0077C3);
  }
  .breathe_type {
    transition: 1s opacity;
    opacity: 0%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  .large{
    width: 250px;
    height: 250px;
    font-size: 40px;
  }
  .small{
    width: 90px;
    height: 90px;
    font-size: 15px;
  }

  .settings_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .settings_titles {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-style: italic;
    position: relative;
    top: 40px;
  }
  .settings_page .splash_button {
    position: relative;
    /* border: 1px solid black; */
    width: 150px;
    height: 50px;
    /* margin: 20px; */
    bottom: 40px;
    border-radius: 20px;
    background-image: linear-gradient(#38A0B6, #0077C3);
    transition: all .4s linear;
}
  .themes_container {
      display: flex;
      justify-content: space-between;
  }
  .theme {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 90px;
    height: 70px;
    margin: 0 10px;
    background-image: linear-gradient(#38A0B6, #0077C3);

  }
  .theme img {
    margin: 0 auto;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}
.sprite_container {
    display: flex;
    justify-content: space-between;
}
.sprite {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#38A0B6, #0077C3);
    /* background-color: #fff; */
    border: 1px solid black;
    border-radius: 20px;
    width: 80px;
    margin: 0 10px;
    height: 80px;
}
.selected {
    background-color: gray;
    background-image: none;
    opacity: 40%;
}
.sprite img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.settings_titles:nth-of-type(2){
    position: relative;
    top: -20px;
}
.sprite_container {
    position: relative;
    top: -50px;
}
@media (max-width: 700px) {
    /* .fade {
        opacity: 0%;
    } */
    /* .blur {
        opacity: 100%;
        -webkit-filter: blur(0);
        filter: blur(0);
    }  */
    .theme {
        width:60px;
    }
    .theme img {
        width: 50px;
    }
    .mobile_clear {
        opacity:100%;
    }
}

@media (min-width: 700px) {
    body{
        font-size: 40px;
    }
    .return_button {
        width: 60px;
        height: 60px;
    }
    .container {
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}